
<main role="main" class="col-md-12  col-sm-4 col-lg-12 px-md-4 bg-light">
  <div>
    <div class="row">

      <h4 class="mt-5">Reports Dashboard</h4>
      <div class="col-sm-8 bg-white">
        <h5>Test execution</h5>
        <div class="row row-cols-1 row-cols-md-4 ">
          <div class="col-2">
            <div class="card" style="background-color: rgb(200, 242, 200);">
              <div class="card-body">
                <h5 style="color: green;" class="card-title">85%</h5>
                <h5 class="card-title">76984</h5>

                <p class="card-text">Total tests<br> passed</p>
              </div>
            </div>
          </div>
          <div class="col-2">
            <div class="card" style="background-color: rgb(235, 165, 165)">
              <div class="card-body">
                <h5 style="color:red" class="card-title">11%</h5>
                <h5 class="card-title">23121</h5>

                <p class="card-text">Total tests<br> failed</p>
              </div>
            </div>
          </div>
          <div class="col-2">
            <div class="card" style="background-color: rgb(238, 239, 214)">
              <div class="card-body">
                <h5 style="color: rgb(187, 255, 0);" class="card-title">6%</h5>
                <h5 class="card-title">200</h5>

                <p class="card-text">No <br> executed</p>

              </div>
            </div>
          </div>
          <div class="col-2">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">7h 18m</h5>
                <h5 class="card-title">23121</h5>

                <p class="card-text">Total testing <br>time </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4 text-center bg-white ml-2">
        <p>Total API's</p>
        <img class="img-fluid" src="./assets/Neon-Circle-PNG-Clipart.png" alt="Neon Circle"
          style="max-width: 100px; height: auto;">
        <p>⬤GET ⬤PUT ⬤POST ⬤DELETE ⬤PATCH</p>
      </div>

    </div>
    <div class="row mt-4 ">
      <div class="col-sm-4 bg-white pb-3">
        <h5>Test execution</h5>
        <div class="row row-cols-1 row-cols-md-2 g-4">
          <ul style="list-style-type: none;" class="mt-5">
            <li><span class="dot"></span> Functional</li>
            <li><span class="dot1"></span> Performance</li>
            <li><span class="dot2"></span> Process Test</li>
          </ul>
          <img class="img-fluid" src="./assets/pie-chart-png-8.png" alt="Neon Circle"
            style="max-width: 100%; height: auto;">
        </div>
      </div>

      <div class="col-sm-8 bg-white">
        <h5>Most faild API's</h5>
        <div class="bar-graph">
          <div class="bar get">GET</div>
          <div class="bar put">PUT</div>
          <div class="bar post">POST</div>
          <div class="bar delete">DELETE</div>
          <div class="bar patch">PATCH</div>
        </div>

      </div>
    </div>
    <div class="row mt-4">
      <div class="col-sm-6 bg-white pb-3">
        <h5>Average response time of test suits</h5>
        <p><img class="file" src="./assets/Very-Basic-Opened-Folder-icon.png" alt="File Icon"> Test suit name 1 <Span
            class="ms">23556ms</Span></p>
        <p><img class="file" src="./assets/Very-Basic-Opened-Folder-icon.png" alt="File Icon"> Test suit name 2 <Span
            class="ms">55545ms</Span></p>
        <p><img class="file" src="./assets/Very-Basic-Opened-Folder-icon.png" alt="File Icon"> Test suit name 3 <Span
            class="ms">35439ms</Span></p>
        <p><img class="file" src="./assets/Very-Basic-Opened-Folder-icon.png" alt="File Icon"> Test suit name 4 <Span
            class="ms">86426ms</Span></p>
        <p><img class="file" src="./assets/Very-Basic-Opened-Folder-icon.png" alt="File Icon"> Test suit name 5 <Span
            class="ms">65875ms</Span></p>
        <p><img class="file" src="./assets/Very-Basic-Opened-Folder-icon.png" alt="File Icon"> Test suit name 6 <Span
            class="ms">15478ms</Span></p>
      </div>
    </div>

  </div>

</main>